@model Config.Repository.Models.Builder
@{
    ViewBag.Title = "viewVideo";
}

<h2>Видеокарты</h2>
<body>
<table class="table">
    <tr>
    </tr>

    @foreach (var videocard in Model.Videocards)
    {
        <tr>
            <th>


            </th>
            <th>
                Наименование
            </th>
            <th>
                Объем видеопамяти
            </th>
            <th>
                Тип видеопамяти
            </th>
            <th>
                Энергоротребление
            </th>
            <th>
                Длина
            </th>
            <th>
                Цена
            </th>
        </tr>
        <tr>
            <th>
                @Html.Raw("<img style='width:100px; height:70px;' src=\"data:image/jpeg;base64,"
                                     + Convert.ToBase64String(videocard.Image) + "\" />")
            </th>
            <td>
                @Html.DisplayFor(item => videocard.Name)
            </td>
            <td>
                @Html.DisplayFor(item => videocard.Memory)ГБ
            </td>
            <td>
                @Html.DisplayFor(item => videocard.Gddr)
            </td>
            <td>
                @Html.DisplayFor(item => videocard.Power)Вт
            </td>
            <td>
                @Html.DisplayFor(item => videocard.VideoSize)мм
            </td>
            <td>
                @Html.DisplayFor(item => videocard.Cost)₽
            </td>
            <td>
                @using (Html.BeginForm("AddToBuildVideokarta", "PcBuilder"))
                {
                    <input width="1" name='id' value=@videocard.IdVideocard , style="visibility: hidden; width: 2px" />
                    <input type="submit" class="btn btn-success" value="Добавить" />
                }

            </td>
        </tr>

    }
</table>
</body>