
@{
    ViewBag.Title = "AdminPanel";
}

<h2>Admin Panel</h2>
<h3></h3>
<li>@Html.ActionLink("Просмотр корпусов", "Get", "Corpus", new { area = "" }, new { @class = "nav-link" })</li>
<li>@Html.ActionLink("Просмотр оперативной памяти", "Get", "DDR", new { area = "" }, new { @class = "nav-link" })</li>
<li>@Html.ActionLink("Просмотр памяти", "Get", "Memory", new { area = "" }, new { @class = "nav-link" })</li>
<li>@Html.ActionLink("Просмотр материнких плат", "Get", "Motherboard", new { area = "" }, new { @class = "nav-link" })</li>
<li>@Html.ActionLink("Просмотр кулеров для процессора", "Get", "Ohlad", new { area = "" }, new { @class = "nav-link" })</li>
<li>@Html.ActionLink("Просмотр систем жидкостного охлаждения", "Get", "OhladWater", new { area = "" }, new { @class = "nav-link" })</li>
<li>@Html.ActionLink("Просмотр блоков питания", "Get", "PowerBlock", new { area = "" }, new { @class = "nav-link" })</li>
<li>@Html.ActionLink("Просмотр процессоров", "Get", "Processor", new { area = "" }, new { @class = "nav-link" })</li>
<li>@Html.ActionLink("Просмотр видоекарт", "Get", "Videocard", new { area = "" }, new { @class = "nav-link" })</li>
<li>@Html.ActionLink("Просмотр заказов", "Index", "Zakaz", new { area = "" }, new { @class = "nav-link" })</li>

